h1 {
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
    background-color: skyblue;
    border-radius: 8px;; 
}

#search {
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;

}



#searchBtn {
    border-style: none;
    background-color: #8ECDDD;
    border-radius: 5px;
    border-color: #8ECDDD;
    width: 10%;
    cursor: pointer;
}

.btnList {
    display: flex;
    flex-direction: column; 
    align-items: left;  
    gap: 10px;
    width: 170px;

}

.button {
    padding: 10px;
    background-color: #2F4F4F;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 22.5%;
    margin-top: 1.5%;
    cursor: pointer;
}

#weatherResult{

    font-family: 'Quicksand', sans-serif;  


}


.forecast-card h2{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px; 
    width: 200px
    
}

#search-history{
    font-family: 'Quicksand', sans-serif;  
    padding: 10px;
    background-color: #2F4F4F;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 22.5%;
    margin-top: 1.5%;
    cursor: pointer;
    position:absolute
}

h3{
    font-family: 'Quicksand', sans-serif;  
   
}